.form-actions {
  background-color: #eaeaea;
  border-top: 1px solid #ccc;
  padding: 1em 1em 1.5em;
  margin:1.5em 0 1.5em;
  border-radius: 0 0 5px 5px;
}

.with_label {
  display:inline;
  margin-right: 1.5em;
}

.radio-group {
  border:1px solid #ccc;
  border-radius:4px;
  padding:.5em 1em .5em;
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
  .radio {
    display: inline;
    &:first-child {
      margin-right:1.5em;
    }
  }
}

.multi-select {
  border: 1px solid #cccccc !important;
  border-radius:5px;
  padding: .5em 1em;
  background-color: #ffffff;
  margin-bottom:1.5em;
  .form-group { display: inline;}
  input { margin-top:4px;}
  .checkbox {
    display: inline !important;
    margin-right: 1em;
  }
}

h1,h2,h3,h4 {
  font-weight: bolder;
}